.git
Allfiles/Labs/01-prepare-data-with-power-query-in-power-bi-desktop/Solution/
Allfiles/Labs/02-load-data-with-power-query-in-power-bi-desktop/Solution/
Allfiles/Labs/03-configure-data-model-in-power-bi-desktop/
Allfiles/Labs/04-create-dax-calculations-in-power-bi-desktop/
Allfiles/Labs/05-create-dax-calculations-in-power-bi-desktop-advanced/
Allfiles/Labs/06-design-report-in-power-bi-desktop/
Allfiles/Labs/07-publish-and-share-reports-in-power-bi-service/
Allfiles/Labs/08-perform-data-analysis-in-power-bi-desktop
Allfiles/Labs/09-create-power-bi-dashboard/
Allfiles/Labs/10-row-level-security/


/Allfiles/Demo/Solutions/
